/**
 * Color Palette for Gutenberg
 */

.has-primary-blue-background-color {
	background-color: $primary;
}
.has-primary-blue-color {
	color: $primary;
}

.has-christmas-red-background-color {
	background-color: #d42426;
}
.has-christmas-red-color {
	color: #d42426;
}

.has-white-background-color {
	background-color: $white;
}
.has-white-color {
	color: $white;
}
