/**
 * USP styles
 */

#wrapper-usps {
	background-color: $secondary;
	text-align: center;

	.col-md {
		display: flex;

		.usp {
			background-color: $light;
			padding: 1rem 1.5rem;

			.fa {
				color: $primary;
				margin: 0.75rem 0;
			}

			h1 {
				font-size: 1.5rem;
			}
		}

	}
}
