/**
 * Contact styles
 */

#front-page-contact {
	background-color: $dark;
	color: $white;
	text-align: center;

	#contact-form-wrapper {
		@include media-breakpoint-up(md) {
			margin-left: auto;
			margin-right: auto;
			max-width: 67%;
		}
		@include media-breakpoint-up(lg) {
			max-width: 80%;
		}

		.wpcf7-form {
			input[type=submit] {
				@extend .btn;
				@extend .btn-lg;
				@extend .btn-warning;
			}
		}
	}
}
